.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6666cc;
    height: 50px;
}

.Header a {
    text-decoration: none;
    color: #f6e7e7;
    font-size: 25px;
}

.Header a:hover {
    text-decoration: underline;
    color: #dcdc67;

}

.Header a[class='active'] {
    color: #e05e5e;
}